$black: #202020;
$black_trans: rgba(32,32,32,0.1);
$darkgray: #404040;
$gray: #909090;
$lightgray: #d6d6d6;
$white: #f6f6f6;
$yellow: #f6d720;
$orange: #f69720;
$lightpink: #f690bf;
$pink: #f6207f;
$red: #f62020;