@import url("https://fonts.googleapis.com/css?family=Inter:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #f6f6f6;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #202020;
  margin: 0 1rem;
  padding: 2rem 0 1rem;
}

h3, p, ul, #contactform {
  padding-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), color-stop(0%, #909090));
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, #909090 0%);
}

a:hover, a:active, a:focus {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(0, 0, 0, 0)), color-stop(0%, #f6d720));
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, #f6d720 0%);
}

div#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 3rem);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 900px;
  margin: auto;
}

div.content {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 0;
  border-left-width: 1rem;
  border-left-style: solid;
  border-left-color: #f690bf;
}

@media (orientation: landscape) {
  div.content {
    margin-left: 2rem;
  }
}

div.logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

div.cres {
  width: 50%;
  margin: auto;
}

img#logo, img#cres {
  width: 100%;
}

.content {
  margin-bottom: 1rem;
}

.list {
  list-style-type: none;
}

.list li {
  padding-bottom: 0.25rem;
}

.fold-toggle {
  cursor: pointer;
  display: block;
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 2px;
  background: #d6d6d6;
  color: initial;
  font-size: unset;
}

.fold-toggle.active {
  color: #f6f6f6;
  background: #202020;
}

.folded {
  display: none;
}

.footer {
  font-family: "IBM Plex Mono", Consolas, "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 0.75rem;
  text-align: center;
  margin-top: 2rem;
}

.subheader {
  font-size: 0.75rem;
  color: #f62020;
  margin: 0 0 0.375rem 0;
}

form#contact * {
  font: inherit;
  border-radius: 0.25rem;
  border: none;
}

form#contact input, form#contact textarea {
  width: 100%;
  max-width: 100%;
  margin: 0 0 0.625rem 0;
  padding: 0.5rem;
}

form#contact textarea {
  resize: vertical;
  height: 6rem;
}

form#contact button {
  font-size: 1rem;
  font-weight: 700;
  color: #f6f6f6;
  background: #909090;
  padding: 0.5rem 1.5rem;
}
