@import "reset";
@import "mdco-sizes";
@import "mdco-colors";
@import "mdco-fonts";

html {
  background: $white;
}

body {
  font: {
    family: $fontstack;
  }
  color: $black;
  margin: 0 1rem;
  padding: 1rem 0;
}

h3, p, ul, #contactform {
  padding: {
    bottom: $small-c;
  }
}

a {
  color: inherit;
  text: {
    decoration: none;
  }
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, $gray 0%);
}

a:hover, a:active, a:focus {
  background: linear-gradient(rgba(0, 0, 0, 0) 65%, $yellow 0%);
}

div.logo {
  width: 100%;
  margin: {
    bottom: 1rem;
  }
}

div.cres {
  width: 50%;
  margin: {
    left: auto;
    right: auto;
    bottom: 25vw;
  }
}

img#logo, img#cres {
  width: 100%;
}

.content {
  margin: {
    bottom: 25vw;
  }
}

.list {
  list: {
    style: {
      type: none;
    }
  }
}

.list.menu {
  display: grid;
  grid: {
    template: {
      columns: auto auto auto;
    }
    gap: $small-d;
  }
}

.list li {
  padding: {
    bottom: $small-e;
  }
}

.list.menu li a {
  display: block;
  width: 100%;
  padding: 0.5rem;
  text: {
    transform: uppercase;
    align: center;
  }
  background: $lightgray;
  &:hover, &:active, &:focus {
    background: $gray;
  }
}

.footer {
  font: {
    family: $fontstackmono;
    style: italic;
    size: $small-a;
  }
}

.subheader {
  font: {
    size: $small-a;
  }
  color: $red;
  margin: 0 0 $small-d 0;
}

form#contact * {
  font: inherit;
  border: {
    radius: $small-e;
  }
  border: none;
}

form#contact input, form#contact textarea {
  width: 100%;
  max-width: 100%;
  margin: 0 0 $small-b 0;
  padding: $small-c;
}

form#contact textarea {
  resize: vertical;
  height: 6rem;
}

form#contact button {
  font: {
    size: 1rem;
    weight: 700;
  }
  color: $white;
  background: $gray;
  padding: $small-c $big-c;
}

@media screen and (min-width: 600px) {

  .list.menu {
    li {
      a {
        padding: 1rem;
      }
    }
  }

}

// @media screen and (min-width: 600px) {

//   .content {
//     grid: {
//       template: {
//         columns: 1fr 1fr;
//         rows: auto;
//       }
//     }
//   }

//   div#contact {
//     grid: {
//       column: 2;
//       row: 1 / span 2;
//     }
//   }

// }

@media screen and (min-width: 950px) {

  .list.menu {
    li {
      a {
        padding: $big-b;
      }
    }
  }

}

// @media screen and (min-width: 950px) {

//   .content {
//     grid: {
//       template: {
//         columns: 1fr 1fr 1fr;
//       }
//     }
//     margin: {
//       right: auto;
//     }
//   }

//   #contact {
//     grid: {
//       row: 1 / span 2;
//       column: 3;
//     }
//   }  

// }
